.container {
    width: 800px;
    margin: 0 auto;
    max-height: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 12px 8px;
    margin-top: 12px;
    
    label {
        font-size: 24px;
        font-weight: 600;
    }

    input {
        font-size: 14px;
        font-weight: 400;
        padding: 14px;
    }

    button {
        padding: 14px 18px;
        margin-top: 8px;
        font-size: 16px;
    }
}